<%- include header.ejs%>
<ul style="list-style: none;">
    <li>
        <h3><a href="https://www.baidu.com">百度 https://www.baidu.com</a></h3>
    </li>
    <li>
        <h3><a href="https://www.google.com.hk/">谷歌 https://www.google.com.hk/</a></h3>
    </li>
</ul>
<%- include footer.ejs%>