<%- include header %>
<form method="post">
    用户名：<input class="form-control" style="width: 40%" type="text" name="name" placeholder="Username"/><br/>
    密码：  <input class="form-control" style="width: 40%" type="password" name="password" placeholder="Password"/></br>
    <input type="submit" class="btn btn-primary" value="登录">
</form>
<%- include footer%>