<%- include header %>
<form method="post">
    用户名：  <input class="form-control" style="width: 40%" type="text" name="name" placeholder="Username"/><br/>
    密码：   <input class="form-control" style="width: 40%" type="password" name="password" placeholder="Password"/></br>
    确认密码：<input class="form-control" style="width: 40%" type="password" name="password-repeat" placeholder="Repeat Password"/></br>
    邮箱：<input class="form-control" style="width: 40%" type="email" name="email" placeholder="Email"/></br>
    <input class="btn btn-primary" type="submit" value="注册">
</form>
<%- include footer%>